
.hero{
	/*background: url(../images/backgroundImage.jpg) no-repeat center center fixed;*/
background-image: url("../img/header-img-bg.png");
height: 500px;
}


.search{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.intro{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 250px;

}

.subscribe{
	display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   height: 200px;
   background-color: #131C25;
}
